__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
.DS_Store
**/.DS_Store
venv/
.env/
env/
data/logs/
data/screenshots/raw/
.vscode/
.idea/

# --- DATA/SCREENSHOTS WHITELIST LOGIC ---
# 1. Allow Git to look into the screenshots directory
!/data/screenshots/

# 2. Ignore everything inside screenshots by default
/data/screenshots/*

# 3. Whitelist your specific target folder
!/data/screenshots/test_flight_roll_360/
